* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    background-color: #101218;
    font-family: Arial, Helvetica, sans-serif;
    color: white;

}

header {
    border-bottom: 1px solid #e8e8e8;
}

nav {
    display: flex;
    justify-content: right;
    align-items: center;
    margin: 30px 0;
    font-size: 13px;
}

nav > a {
    color: #fff;
    text-decoration: none;
    padding-right: 1rem;
}

nav > a:hover {
    text-decoration: underline;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 92px;
    height: calc(100%-560px);
    max-height: 150px;
}

.logo span {
    display: flex;
    justify-content: right;
    min-width: 272px;
    color: #4487f6;
    font-size: 16px;
    margin-top: -16px;
}

.search {
    display: flex;
    justify-content: center;
    flex: 1;
    padding: 0 8px 0 0;
    font-size: 14px;
    color: #e8e8e8;
    margin: 2rem 0 1rem 0;
}

.search form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}

.search input {
    display: flex;
    z-index: 3;
    position: relative;
    min-width: 320px;
    min-height: 50px;
    background: #4d5156;
    border: 1px solid transparent;
    box-shadow: none;
    border-radius: 26px;
    margin: 0 auto;
    padding: 0 0 0 1rem;
    font-size: 14px;
    color: #e8eaed;
}

.search button {
    background-color: #303134;
    border: 1px solid #303134;
    color: #e8eaed;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    border-radius: 8px;
    font-optical-sizing: none;
    font-size: 14px;
    font-weight: 400;
}

.advanced {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1rem;
    padding: 30px 8px;
    font-size: 13px;
}

.advanced__span {
    color: #F28B82;
    font-size: 16px;
}

.advanced__link {
    color: #fff;
    text-decoration: none;
    padding-right: 1rem;
}

.advanced__link:hover {
    text-decoration: underline;
}

.advanced__container {
    margin: 2rem;
}

.advanced__container p {
    margin: 2rem 0;
}

.advanced__container div {
    
}

.advanced__container label {
    font-size: 14px;
    color: #4d5156;
}

.advanced__container input {
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: transparent;
}